/* Element styling */
main {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

header {
	position: relative;
	z-index: 1;
}

/* Classes */
.tag {
	margin-right: 5px;
	margin-top: 15px;
}

/* Bulma helper extensions */
.mb-10 {
	margin-bottom: 10px;
}

/* Flex stuff */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

/* Misc helpers */
.with-newlines {
	white-space: pre-wrap;
}

.strike {
	text-decoration: overline;
}

.dimmed {
	filter: brightness(90%);
}
