/* Colors */

// Core
$wheat: #fcf5e8;
$charcoal: #2E4057;
$xanadu: #808F87;
$primary: $charcoal;
$secondary: #F7996E;

// Pastels
$pastel-red: #EDAFB8;
$pastel-orange: #F7E1D7;
$pastel-lightgreen: #DEDBD2;
$pastel-green: #B0C4B1;
$pastel-grey: #4A5759;

$info: $secondary;


/* Main */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
$family-sans-serif: "IBM Plex Sans", sans-serif;
$body-background-color: $wheat;
$widescreen-enabled: false;
$fullhd-enabled: false;

/* Radius */
$radius: 2px;
$radius-small: 2px;
$radius-large: 2px;

/* Links */
$link: $pastel-grey;
$link-active: $pastel-grey;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-shadow: none;
$link-focus-border: $pastel-grey;


/* Box */
$box-shadow: 1px 2px rgba($pastel-grey, 0.1);

/* Input */
$input-shadow: 0px;
$input-border-color: rgba($pastel-grey, 0.2);
$input-focus-box-shadow-size: 0px;

/* Modal */
$modal-content-width: 60%;
$modal-card-head-background-color: $primary;
$modal-card-title-color: white;
$modal-card-body-background-color: $wheat;

/* Navbar */
$navbar-padding-horizontal: 1rem;
$navbar-background-color: $primary;
$navbar-item-color: white;
// $navbar-padding-vertical: 4rem;

/* Dropdown */
// $dropdown-item-color: 
// $dropdown-content-background-color: red;
// $dropdown-item-active-color: red;
$dropdown-content-background-color: white;
